* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: repeating-radial-gradient(rgba(244, 245, 246, 0.1) 5px, transparent 10px, transparent 20px, rgba(244, 245, 246, 0.1) 25px);
  backdrop-filter: blur(29px);
  background-color: rgb(17, 21, 27);
  min-height: 100vh;
  color: rgba(233, 243, 244, 0.9);
}

h1 {
  text-align: center;
  padding: 1vh;
  font-family: "Walter Turncoat", serif;
  font-size: min(11vw, 11vh);
}

h2 {
  text-align: center;
  font-family: "Walter Turncoat", serif;
  font-size: min(6vw, 6vh);
  padding: 0 3vw;
}

h3 {
  text-align: center;
  font-family: "Walter Turncoat", serif;
  font-size: min(5vw, 5vh);
}

ul {
  text-align: center;
}

li {
  font-family: "Coming Soon", sans-serif;
  padding: 0.25em;
  font-size: min(4vw, 4vh);
}

p {
  text-align: center;
  font-family: "Coming Soon", sans-serif;
  font-size: min(4vw, 4vh);
  padding: 2vh;
}

.link {
  color: rgba(233, 243, 244, 0.9);
  padding: 0 10px;
  font-size: min(5vw, 5vh);
}

.media-link {
  text-decoration: none;
  padding: 0 10px;
  fill: rgba(233, 243, 244, 0.9);
}

.links {
  text-align: center;
  margin-top: 1vh;
}

.small {
  font-size: min(3vw, 3vh);
}

.list-center {
  text-align: center;
}

.list-center>ul {
  display: inline-block;
  text-align: left;
}

.hours {
  margin-top: 0.5vh;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  font-size: min(5vw, 5vh);
}

.day {
  text-align: left;
}